.smallpreview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  .smallpreview-item {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 90px;
      height: 100%;
    }

    .smallpreview-text {
      display: flex;
      flex-direction: column;

      span {
        color: hsl(233, 8%, 79%);
        font-size: 1.6rem;
        font-weight: 700;
        // margin-bottom: 0.2rem;
      }

      h5 {
        font-weight: 700;
        font-size: 1.2rem;
        margin: 0.4rem 0;
      }

      p {
        color: hsl(236, 13%, 42%);
        font-size: 15px;
        margin: 0 2rem 0 0;
        line-height: 1.5;
      }
    }
  }
}
