aside {
  background: hsl(240, 100%, 5%);
  padding: 2rem 1.4rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;

  h3 {
    color: hsl(35, 77%, 62%);
    font-size: 2.2rem;

    font-weight: 600;
  }
  div {
    padding: 2em 0;

    border-bottom: 1px solid hsl(36, 100%, 99%);
    h4,
    p {
      line-height: 1.5;
    }

    h4 {
      margin-bottom: 0.4em;
      font-weight: 700;
      font-size: 1.2rem;
      color: hsl(36, 100%, 99%);
    }
    p {
      font-size: 15px;
      color: hsl(233, 8%, 79%);
    }
    &:last-child {
      border-bottom: none;
      padding: 2em 0 0;
    }
  }
}
