aside {
  background: hsl(240, 100%, 5%);
  padding: 2rem 2rem;
  // max-width: 345px;
  // min-height: 460px;

  h3 {
    color: hsl(35, 77%, 62%);
    font-size: 2.8rem;
    font-weight: 600;
  }
  div {
    // padding: 1em 0;

    h4,
    p {
      color: hsl(36, 100%, 99%);
      line-height: 1.5;
    }

    h4 {
      font-weight: 700;
      font-size: 1.4rem;
      margin: 1.5rem 0 1rem;
    }
    p {
      padding-bottom: 2rem;
      border-bottom: 1px solid hsl(36, 100%, 99%);
      font-size: 1rem;
    }
    &:last-child {
      p {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}
