header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;

  h1 {
    display: flex;
  }

  .nav {
    ul {
      display: none;
    }
  }

  @media (min-width: 376px) {
    .hamburgerButton {
      display: none;
    }
    .nav {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        gap: 2em;
        li {
          a {
            text-decoration: none;

            color: hsl(236, 13%, 42%);
            cursor: pointer;
            &:hover,
            &:focus {
              color: hsl(35, 77%, 62%);
            }
          }
        }
      }
    }
  }
}
