@media (min-width: 376px) {
  main {
    display: flex;
    flex-flow: column wrap;

    .bigpreview-container {
      margin-top: 2em;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      // grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 2em;
    }

    .main-preview {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    aside {
      grid-column-start: 3;
      grid-column-start: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      height: 100%;
    }
  }
}
