main {
  .upper-part {
    display: grid;
    margin: 2.5rem auto;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;

    section {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    aside {
    }
  }
}
