.main-preview {
  img {
    width: 100%;
    height: auto;
  }

  button {
    background: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    text-transform: uppercase;
    padding: 0.8rem 1.5rem;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 3px;
    transition: 0.3s;
  }
}
