@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

body {
  font-family: Inter, serif;
  font-weight: 400;
  padding: 4em;

  p {
    font-size: 15px;
  }
}
