@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, serif;
  font-weight: 400;
  padding: 1em 1em 4em;
}
